<!-- http://wiki.ros.org/roslaunch/XML/node -->
<launch>
  <node name="truck_controller_node" pkg="truck_controller" type="truck_controller_node" output="screen">
    <param name="throttle-pin" type="int" value="25" />
    <param name="steering-pin" type="int" value="18" />
    <param name="message-queue-size" type="int" value="10" />
    <param name="topic-throttle" type="string" value="/controller/throttle" />
    <param name="topic-steering" type="string" value="/controller/steering" />
    <param name="debug" type="bool" value="false" />
  </node>
</launch>